openapi: 3.1.0
info:
  title: Humana FHIR Clinical Demographic API
  description: Minimal OpenAPI description for Humana's FHIR R4 / US Core STU3 patient access APIs covering common clinical, medication, and coverage resources. Each endpoint returns a FHIR Bundle (searchset) of the named resource type. Generated from public documentation; verify before production use.
  version: R4
  contact:
    name: Humana Developer Portal
    url: https://developers.humana.com/
  x-generated-from: https://developers.humana.com/apis/allergyintolerance-api/doc
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://fhir.humana.com/api
  description: Humana FHIR production
- url: https://sandbox-fhir.humana.com/api
  description: Humana FHIR sandbox
security:
- bearerAuth: []
tags:
- name: Demographic
  description: Patient and provider demographic FHIR resources
paths:
  /Patient/{id}:
    get:
      operationId: getPatient
      summary: Get Patient
      tags:
      - Demographic
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: FHIR Patient resource
          content:
            application/json:
              schema:
                type: object
  /Practitioner:
    get:
      operationId: searchPractitioner
      summary: Search Practitioner
      tags:
      - Demographic
      responses:
        '200':
          description: FHIR Bundle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
components:
  schemas:
    Bundle:
      type: object
      properties:
        resourceType:
          type: string
          const: Bundle
        type:
          type: string
        total:
          type: integer
        entry:
          type: array
          items:
            type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
